"Welcome to Team Fortress 2. After nine years in development, hopefully it will have been worth the wait. "

CTF time limit is forced to 20 minutes, also there is improved CTF plugin to speed up intel recovery.

This server map rotation is:
{{ lookup('file', 'files/mapcycle.txt') }}

"Thanks, and have fun."